
.breadcrumbs {
    max-width: 60rem;
    margin: 1rem auto 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}

.breadcrumb {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    color: #6c757d;
}

.separator {
    margin: 0 0.5rem;
    color: #a7abae;
}

.breadcrumb a {
    color: #6c757d;
    text-decoration: none;
    border-bottom: 1px solid transparent;

    transition: all 0.2s ease-in-out;
}

.breadcrumb a:hover {
    border-bottom: 1px solid #6c757d;
    color: #212529;
}