.view {
    width: 100%;
    min-height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    max-width: 40rem;
    margin: 0 auto;
    padding: 2rem 0;
}

.list {
    display: flex;
    flex-direction: column;
}

.file {
    background: #EEE;
    padding: 1rem;
    margin: 0.1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.file .name {
    flex: 1;
}

.file .size {
    font-size: 0.8rem;
    color: #888;
    margin-right: 0;
    transition: all 0.2s ease-in-out;
}

.file .remove {
    font-size: 0.8rem;
    color: #F00;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    font-size: 0;
}

.file:hover {
    background: #FEE;
}

.file:hover .size {
    margin-right: 1rem;
}

.file:hover .remove {
    opacity: 1;
    font-size: 100%;
}

.upload {
    padding: 1rem;
    cursor: pointer;
    border-radius: 0.5rem;
}

.upload:hover {

}

.condensed {
    margin: 1rem;
    color: #888;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.condensed:hover {
    color: #000;
}

.content h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.content h1 .icon {
    margin-left: 0.5rem;
}