.card,
.cardIcon,
.cardLink,
.cardIconLink {
    background-color: #eee;
    border-radius: 4px;
    margin: 0 1rem 1rem 0;
    padding: 1rem;
    flex: 1 0 15rem;
    min-height: 8rem;
    transition: all 0.2s ease-in-out;
    border: 1px solid #eee;
}

.cardLink,
.cardIcon,
.cardIconLink {
    cursor: pointer;
}

.cardIcon,
.cardIconLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: #888;
}

.cardLink {
    text-decoration: none;
    color: inherit;
}

.cardIconLink {
    text-decoration: none;
    color: #888;
}

.cardLink:hover,
.cardIcon:hover,
.cardIconLink:hover {
    /* box-shadow: 5px 5px #ccc; */
    border: 1px solid #ccc;
    /*box-shadow: 0 0 45px #999;
    transform: translateY(-5px);*/
}

.annotation {
    margin-bottom: 0.5rem;
    font-size: 0.7em;
    color: #888;
    text-transform: uppercase;
}



.icon {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}