.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100%;
    position: relative;
}


.label {
    display: block;
    color: #888;
    font-size: 1em;
    position: absolute;
    top: 1.25rem;
    left: 1rem;
    transition: all 0.2s ease-in-out;
}

.input {
    border: 1px solid #EEE;
    padding: 1.5rem 1rem 1rem;
    outline: none;
    border-radius: 4px;
    font-size: 1em;
    background: #EEE;
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    margin: 0;
}

.input:active,
.input:focus {
    outline: none;
    border: 1px solid #888;
    background: #FFF;
}

.label.filled {
    top: 0.5rem;
    font-size: 0.5em;
    color: #000;
}

.files {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    color: #FFF;
    background: #333;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.filesDim .filesPrompt {
 /* nothing */
}



.files:hover {
    background: #222;
    color: #FFF;
}

.files input {
    display: none;
}

.filesPrompt {
    padding: 1rem;
    display: flex;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

.filesPrompt svg {
    margin-right: 0.5rem;
}

.file {
    background: #EEE;
    padding: 0.5rem 1rem;
    margin: 0.1rem;
    border-radius: 4px;
    font-size: 0.8em;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.file:nth-child(odd) { background: #F8F8F8; }


.file .name {
    flex: 1;
}

.file .size {
    font-size: 0.8rem;
    color: #888;
    margin-right: 0;
    transition: all 0.2s ease-in-out;
}

.file .remove {
    font-size: 0.8rem;
    color: #F00;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    font-size: 0;
}

.file:hover {
    background: #FEE;
}

.file:hover .size {
    margin-right: 1rem;
}

.file:hover .remove {
    opacity: 1;
    font-size: 100%;
}

.fileList {
    margin-bottom: 1rem;
    max-height: 30vh;
    overflow: auto;
    scrollbar-color: #444 #FFF ;
    scrollbar-width: 0.5rem;
}

.fileList::-webkit-scrollbar {
    width: 0.5rem;
}


.fileList::-webkit-scrollbar-track {
    background: #FFF;
}

.fileList::-webkit-scrollbar-thumb {
    background-color: #444;
    border-radius: 4px;
}